<!DOCTYPE html>
<html>
    <head>
      <!-- include partial template -->
      <%- include('partial') %>
    </head>
    <body>
      <!-- lookup helloworld attribute in object -->
      <h1>Templating with EJS</h1>
      <p><%= helloworld %></p>
      <%- include('footer') %>
    </body>
</html>
